n8n-workflows/balance-sweep.json
{
  "name": "Devengo — Balance Sweep Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtMinute": 0
            },
            {
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "cron",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://svujoznxajtzlhzslenf.supabase.co/rest/v1/devengo_balance_rules?is_active=eq.true&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $credentials.supabaseApiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-rules",
      "name": "Fetch Active Rules",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const rules = $input.first().json;\nconst ruleArray = Array.isArray(rules) ? rules : [rules];\nreturn ruleArray.filter(r => r && r.id).map(r => ({ json: r }));"
      },
      "id": "split-rules",
      "name": "Split Rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://api.sandbox.devengo.com/v1/accounts/{{ $json.account_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $credentials.devengoHmacAuth }}"
            }
          ]
        },
        "options": {}
      },
      "id": "check-balance",
      "name": "Check Account Balance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const rule = $('Split Rules').item.json;\nconst account = $json;\nconst balance = account.balance_cents || 0;\nconst threshold = rule.threshold_cents;\n\nlet triggered = false;\nlet action = 'none';\nlet sweepAmount = 0;\n\nif (rule.rule_type === 'low_balance' && balance < threshold) {\n  triggered = true;\n  action = 'low_balance_alert';\n} else if (rule.rule_type === 'high_balance_sweep' && balance > threshold) {\n  triggered = true;\n  action = 'sweep';\n  sweepAmount = balance - threshold;\n}\n\nreturn [{ json: { ...rule, balance, triggered, action, sweepAmount, accountLabel: rule.account_label || rule.account_id } }];"
      },
      "id": "evaluate-rule",
      "name": "Evaluate Rule",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "triggered",
              "leftValue": "={{ $json.triggered }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-triggered",
      "name": "Rule Triggered?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1320,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "outputIndex": 0,
              "value": "sweep"
            },
            {
              "outputIndex": 1,
              "value": "low_balance_alert"
            }
          ]
        },
        "dataType": "string",
        "value": "={{ $json.action }}"
      },
      "id": "action-router",
      "name": "Action Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1540,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sandbox.devengo.com/v1/payments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ $credentials.devengoHmacAuth }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source_account_id",
              "value": "={{ $json.account_id }}"
            },
            {
              "name": "destination_iban",
              "value": "={{ $json.action_config?.destination_iban || 'ES9121000418450200051332' }}"
            },
            {
              "name": "amount_cents",
              "value": "={{ $json.sweepAmount }}"
            },
            {
              "name": "concept",
              "value": "Auto-sweep: excess balance transfer"
            }
          ]
        },
        "options": {}
      },
      "id": "execute-sweep",
      "name": "Execute Sweep Payment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://svujoznxajtzlhzslenf.supabase.co/rest/v1/devengo_alerts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $credentials.supabaseApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alert_type\": \"{{ $json.action === 'sweep' ? 'auto_sweep' : 'low_balance' }}\",\n  \"severity\": \"{{ $json.action === 'sweep' ? 'info' : 'critical' }}\",\n  \"title\": \"{{ $json.action === 'sweep' ? 'Auto-sweep executed on ' + $json.accountLabel : 'Low balance on ' + $json.accountLabel }}\",\n  \"description\": \"Balance: €{{ ($json.balance / 100).toFixed(2) }}, Threshold: €{{ ($json.threshold_cents / 100).toFixed(2) }}\"\n}",
        "options": {}
      },
      "id": "create-alert",
      "name": "Create Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        300
      ]
    }
  ],
  "connections": {
    "Every 30 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Active Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Rules": {
      "main": [
        [
          {
            "node": "Split Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Rules": {
      "main": [
        [
          {
            "node": "Check Account Balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Account Balance": {
      "main": [
        [
          {
            "node": "Evaluate Rule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Rule": {
      "main": [
        [
          {
            "node": "Rule Triggered?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rule Triggered?": {
      "main": [
        [
          {
            "node": "Action Type",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Action Type": {
      "main": [
        [
          {
            "node": "Execute Sweep Payment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "devengo"
    },
    {
      "name": "treasury"
    }
  ],
  "id": "2cfcedff868243dca554"
}