n8n-workflows/invoice-reconciliation.json
{
  "name": "Devengo — Invoice Auto-Reconciliation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "devengo-reconcile",
        "options": {}
      },
      "id": "webhook",
      "name": "Incoming Payment Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://svujoznxajtzlhzslenf.supabase.co/rest/v1/devengo_reconciliation?status=eq.pending&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $credentials.supabaseApiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-pending",
      "name": "Get Pending Records",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const payment = $('Incoming Payment Webhook').first().json;\nconst pending = $('Get Pending Records').first().json;\nconst records = Array.isArray(pending) ? pending : [pending];\n\nconst amountCents = payment.amount_cents;\nconst reference = payment.metadata?.reference || payment.concept || '';\n\n// Exact match: amount + reference\nlet exactMatch = records.find(r => r.expected_amount_cents === amountCents && r.business_reference && reference.includes(r.business_reference));\n\nif (exactMatch) {\n  return [{ json: { match_type: 'exact', record: exactMatch, payment } }];\n}\n\n// Amount-only match\nlet amountMatch = records.find(r => r.expected_amount_cents === amountCents);\nif (amountMatch) {\n  return [{ json: { match_type: 'exact', record: amountMatch, payment } }];\n}\n\n// Fuzzy match (within 5%)\nlet fuzzyMatch = records.find(r => {\n  const diff = Math.abs(r.expected_amount_cents - amountCents);\n  return diff / r.expected_amount_cents <= 0.05;\n});\nif (fuzzyMatch) {\n  return [{ json: { match_type: 'partial', record: fuzzyMatch, payment } }];\n}\n\nreturn [{ json: { match_type: 'none', record: null, payment } }];"
      },
      "id": "match-logic",
      "name": "Match Payment to Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "outputIndex": 0,
              "value": "exact"
            },
            {
              "outputIndex": 1,
              "value": "partial"
            },
            {
              "outputIndex": 2,
              "value": "none"
            }
          ]
        },
        "dataType": "string",
        "value": "={{ $json.match_type }}"
      },
      "id": "match-router",
      "name": "Match Result",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://svujoznxajtzlhzslenf.supabase.co/rest/v1/devengo_reconciliation?id=eq.{{ $json.record.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $credentials.supabaseApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"matched\",\n  \"payment_id\": \"{{ $json.payment.payment_id }}\",\n  \"actual_amount_cents\": {{ $json.payment.amount_cents }},\n  \"matched_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "update-matched",
      "name": "Mark as Matched",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        140
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://svujoznxajtzlhzslenf.supabase.co/rest/v1/devengo_reconciliation?id=eq.{{ $json.record.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $credentials.supabaseApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"mismatched\",\n  \"payment_id\": \"{{ $json.payment.payment_id }}\",\n  \"actual_amount_cents\": {{ $json.payment.amount_cents }},\n  \"matched_at\": \"{{ $now.toISO() }}\",\n  \"notes\": \"Amount mismatch: expected {{ $json.record.expected_amount_cents }}, got {{ $json.payment.amount_cents }}\"\n}",
        "options": {}
      },
      "id": "update-partial",
      "name": "Mark as Partial Match",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://svujoznxajtzlhzslenf.supabase.co/rest/v1/devengo_alerts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $credentials.supabaseApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alert_type\": \"orphaned_payment\",\n  \"severity\": \"warning\",\n  \"title\": \"Unmatched incoming payment\",\n  \"description\": \"€{{ ($json.payment.amount_cents / 100).toFixed(2) }} received with no matching expected record\",\n  \"payment_id\": \"{{ $json.payment.payment_id }}\"\n}",
        "options": {}
      },
      "id": "orphan-alert",
      "name": "Create Orphan Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://svujoznxajtzlhzslenf.supabase.co/rest/v1/devengo_automation_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $credentials.supabaseApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"automation_name\": \"invoice_reconciliation\",\n  \"status\": \"success\",\n  \"output_data\": { \"match_type\": \"{{ $('Match Payment to Record').first().json.match_type }}\" }\n}",
        "options": {}
      },
      "id": "log-result",
      "name": "Log to Automation Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        300
      ]
    }
  ],
  "connections": {
    "Incoming Payment Webhook": {
      "main": [
        [
          {
            "node": "Get Pending Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Records": {
      "main": [
        [
          {
            "node": "Match Payment to Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Payment to Record": {
      "main": [
        [
          {
            "node": "Match Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Result": {
      "main": [
        [
          {
            "node": "Mark as Matched",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark as Partial Match",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Orphan Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Matched": {
      "main": [
        [
          {
            "node": "Log to Automation Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Partial Match": {
      "main": [
        [
          {
            "node": "Log to Automation Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Orphan Alert": {
      "main": [
        [
          {
            "node": "Log to Automation Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "devengo"
    },
    {
      "name": "reconciliation"
    }
  ],
  "id": "20a5721d6e7941ddad42"
}