n8n-workflows/rate-monitor.json
{
  "name": "Devengo — Weekly Competitive Monitor",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "triggerAtHour": 9, "triggerAtDay": 1 }] } },
      "id": "cron",
      "name": "Monday 09:00 CET",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "url": "https://svujoznxajtzlhzslenf.supabase.co/rest/v1/devengo_webhook_events?select=event_type,status&received_at=gte.{{ $now.minus(7, 'days').toISO() }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "apikey", "value": "={{ $credentials.supabaseApiKey }}" }] },
        "options": {}
      },
      "id": "get-internal-stats",
      "name": "Get Internal Stats (7d)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "const events = $input.first().json;\nconst allEvents = Array.isArray(events) ? events : [];\n\nconst payments = allEvents.filter(e => e.event_type?.startsWith('payment.'));\nconst confirmed = payments.filter(e => e.event_type === 'payment.confirmed').length;\nconst total = payments.length;\nconst successRate = total > 0 ? ((confirmed / total) * 100).toFixed(2) : 'N/A';\nconst totalEvents = allEvents.length;\n\nconst date = $now.toFormat('dd MMM yyyy');\n\nconst html = `\n<div style=\"font-family:system-ui;max-width:600px;margin:0 auto;background:#09090b;color:#fafafa;padding:32px;border-radius:12px\">\n  <h1 style=\"font-size:20px;color:#3b82f6;margin:0 0 4px\">Weekly Competitive Briefing</h1>\n  <p style=\"color:#71717a;font-size:13px;margin:0 0 24px\">Week ending ${date}</p>\n\n  <h3 style=\"font-size:14px;margin:0 0 12px\">Devengo Internal Metrics</h3>\n  <div style=\"display:grid;grid-template-columns:repeat(3,1fr);gap:12px;margin-bottom:24px\">\n    <div style=\"background:#18181b;padding:16px;border-radius:8px;text-align:center\">\n      <div style=\"font-size:24px;font-weight:700;font-family:monospace\">${totalEvents}</div>\n      <div style=\"font-size:11px;color:#71717a\">Webhook Events</div>\n    </div>\n    <div style=\"background:#18181b;padding:16px;border-radius:8px;text-align:center\">\n      <div style=\"font-size:24px;font-weight:700;font-family:monospace\">${total}</div>\n      <div style=\"font-size:11px;color:#71717a\">Payments</div>\n    </div>\n    <div style=\"background:#18181b;padding:16px;border-radius:8px;text-align:center\">\n      <div style=\"font-size:24px;font-weight:700;font-family:monospace;color:#22c55e\">${successRate}%</div>\n      <div style=\"font-size:11px;color:#71717a\">Success Rate</div>\n    </div>\n  </div>\n\n  <h3 style=\"font-size:14px;margin:0 0 8px\">Competitive Landscape</h3>\n  <table style=\"width:100%;border-collapse:collapse;background:#18181b;border-radius:8px;overflow:hidden\">\n    <thead><tr style=\"background:#27272a\"><th style=\"padding:8px 12px;text-align:left;font-size:11px;color:#71717a\">Provider</th><th style=\"padding:8px 12px;text-align:left;font-size:11px;color:#71717a\">Key Differentiator</th><th style=\"padding:8px 12px;text-align:left;font-size:11px;color:#71717a\">Devengo Advantage</th></tr></thead>\n    <tbody>\n      <tr><td style=\"padding:8px 12px;font-size:13px\">GoCardless</td><td style=\"padding:8px 12px;font-size:13px;color:#a1a1aa\">Success+ retry system</td><td style=\"padding:8px 12px;font-size:13px;color:#22c55e\">Devengo Smart Retry + local Iberpay routing</td></tr>\n      <tr><td style=\"padding:8px 12px;font-size:13px\">Modulr</td><td style=\"padding:8px 12px;font-size:13px;color:#a1a1aa\">UK-focused, FCA regulated</td><td style=\"padding:8px 12px;font-size:13px;color:#22c55e\">SEPA-native, BdE regulated, EUR-first</td></tr>\n      <tr><td style=\"padding:8px 12px;font-size:13px\">Stripe Treasury</td><td style=\"padding:8px 12px;font-size:13px;color:#a1a1aa\">BaaS platform</td><td style=\"padding:8px 12px;font-size:13px;color:#22c55e\">Instant SEPA, sub-second processing</td></tr>\n    </tbody>\n  </table>\n\n  <div style=\"text-align:center;padding-top:16px;border-top:1px solid #27272a;margin-top:24px\">\n    <p style=\"color:#71717a;font-size:11px;margin:0\">Generated by Devengo Ops Console</p>\n  </div>\n</div>`;\n\nreturn [{ json: { html, date, successRate, totalEvents, total } }];"
      },
      "id": "compile-report",
      "name": "Compile Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "fromEmail": "ops@devengo-demo.com",
        "toEmail": "sales@devengo.com",
        "subject": "=Weekly Competitive Briefing — {{ $json.date }}",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Briefing",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [880, 300]
    }
  ],
  "connections": {
    "Monday 09:00 CET": { "main": [[ { "node": "Get Internal Stats (7d)", "type": "main", "index": 0 } ]] },
    "Get Internal Stats (7d)": { "main": [[ { "node": "Compile Report", "type": "main", "index": 0 } ]] },
    "Compile Report": { "main": [[ { "node": "Send Briefing", "type": "main", "index": 0 } ]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "devengo" }, { "name": "competitive" }]
}
